

	
		<div class = "row">
					<div class = "span9">
						<h4><%- postName %></h4> 
						<i><%- originalPostDetail %></i><br>
						
					</div>
				</div>
				<div class = "row">
					<div class = "span9">
            			<pre>
            				<%- post %>
    					</pre>
    					<i><%- postRepliesDetails %></i>
    					<pre>
    						<%- postReplies %><br />
    					</pre>
    					
    				</div>
    			</div>


	
